
<h2>Diablo 4 Class Selector</h2>
<body>
<p> 
    Welcome to the Diablo 4 class selector guide. If Diablo 4 is your first time playing any 
    of the games in the franchise, this class guide will help you easily save Sanctuary and destroy
    Lilith.
</p>
<p>
    Please select below if you are playing by yourself or in a group to see the best character
    class for you, or select each character class individually to read about them all and decide for yourself. 
</p>
<p>
  How will you save Sanctuary?
</p>

  <fieldset>
    <div align="center">
    <legend>By yourself or with allies</legend>
    </div>
    <div align="center">
    <button id="Solo" onclick="window.location='./GroupOrSolo/solo'" type="submit">Solo</button>

    <button id="Group" onclick="window.location='./GroupOrSolo/group'"  type="submit">Group</button>
  </div>
  </fieldset>
  </body>